html {
  --layout-pkg-radius: 4px;
}

:root {
  --o-radius_control-xs: 4px;
  --o-radius_control-s: 4px;
  --o-radius_control-m: 4px;
  --o-radius_control-l: 4px;

  --el-box-shadow-light: var(--o-shadow-2);
  --el-color-primary: var(--o-color-primary1) !important;

  --o-gap-1: 4px;
  --o-gap-2: 8px;
  --o-gap-3: 12px;
  --o-gap-4: 16px;
  --o-gap-5: 24px;
  --o-gap-6: 32px;
  --o-gap-7: 40px;
  --o-gap-8: 48px;
  --o-gap-9: 64px;
  --o-gap-10: 72px;

  @include respond('<=laptop') {
    --o-gap-1: 4px;
    --o-gap-2: 8px;
    --o-gap-3: 8px;
    --o-gap-4: 12px;
    --o-gap-5: 16px;
    --o-gap-6: 24px;
    --o-gap-7: 24px;
    --o-gap-8: 40px;
    --o-gap-9: 48px;
    --o-gap-10: 56px;
  }

  @include respond('<=pad') {
    --o-gap-1: 4px;
    --o-gap-2: 8px;
    --o-gap-3: 8px;
    --o-gap-4: 8px;
    --o-gap-5: 12px;
    --o-gap-6: 16px;
    --o-gap-7: 16px;
    --o-gap-8: 24px;
    --o-gap-9: 32px;
    --o-gap-10: 40px;
  }

  @include respond('<=pad_v') {
    --o-gap-1: 4px;
    --o-gap-2: 8px;
    --o-gap-3: 8px;
    --o-gap-4: 16px;
    --o-gap-5: 24px;
    --o-gap-6: 28px;
    --o-gap-7: 12px;
    --o-gap-10: 32px;
  }

  @include respond('phone') {
    --o-gap-1: 4px;
    --o-gap-2: 8px;
    --o-gap-3: 12px;
    --o-gap-4: 16px;
    --o-gap-5: 24px;
    --o-gap-6: 28px;
    --o-gap-7: 12px;
    --o-gap-10: 32px;
  }
}

.o-icon {
  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}

.o-message-list {
  z-index: 2147483647 !important;
  --app-header-height: 64px;

  --message-list-offset: calc(var(--app-header-height) + 32px);
}

.o-popup {
  --popup-shadow: var(--o-shadow-2);
}